<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>ChatGPT</title>
    <link rel="stylesheet" href="static/css/chat.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>
<body>
<!-- Chats container -->
<form action="/chat" method="post">
    <div style="white-space: pre-wrap" class="chat-container">
        <span class="message-text" th:text="${answer}"></span>
    </div>
    <!-- Typing container -->
    <div class="typing-container">
        <div class="typing-content">
            <div class="typing-textarea">
                <textarea id="chat-input" style="white-space: pre-wrap" name="userMessage" spellcheck="false" placeholder="Введите вопрос"
                          required></textarea>
                <button id="send-btn" type="submit" class="material-symbols-rounded">send</button>
            </div>
            <div class="typing-controls">
                <span id="theme-btn" class="material-symbols-rounded">light_mode</span>
                <span id="delete-btn" class="material-symbols-rounded">delete</span>
            </div>
        </div>
    </div>
</form>
</body>
</html>