<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чат с ChatGPT</title>
    <link rel="stylesheet" href="static/css/user.css">
</head>
<body>
<div class="chat-container">
    <div class="chat-box">
        <form action="/user" method="post">
            <div class="chat-output" th:text="${answer}" id="chatOutput"></div>
            <div class="chat-input">
                <input type="text" name="userMessage" placeholder="Напиши сообщение...">
                <button type="submit">Отправить</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>